@import 'chrome://dtm/skin/toolbarbuttons/buttons.css';
@namespace url("http://www.mozilla.org/keymaster/gatekeeper/there.is.only.xul");

#notification-popup-box[anchorid="downthemall-notification-icon"] > #downthemall-notification-icon {
	display: -moz-box;
}
#downthemall-notification-icon {
	list-style-image: url(chrome://dtm/skin/toolbarbuttons/buttons16.png);
	-moz-image-region: rect(0px,64px,16px,48px);
}

.popup-notification-icon[popupid="downthemall"] {
	list-style-image: url(chrome://dtaicon/content/icon64.png);
}

/* menus */
.dtm-menuitem {
	list-style-image: url(chrome://dtm/skin/toolbarbuttons/buttons16.png);
}
.dtm-normal {
	-moz-image-region: rect(0px,32px,16px,16px);
}
.dtm-turbo {
	-moz-image-region: rect(0px,64px,16px,48px);
}
.dtm-manager {
	-moz-image-region: rect(0px,112px,16px,96px);
}
.dtm-prefs {
	-moz-image-region: rect(0px,128px,16px,112px);
}
.dtm-about {
	-moz-image-region: rect(0px,144px,16px,128px);
}

.main-window #dtm-manager-button image,
.main-window #dtm-turbo-button image,
.main-window #dtm-button image {
	padding-top: 2px;
	padding-bottom: 3px;
}

@media (min-resolution: 2dppx) {
	.dtm-menuitem {
		list-style-image: url(chrome://dtm/skin/toolbarbuttons/buttons32.png);
	}
	.dtm-normal {
		-moz-image-region: rect(0px,64px,32px,32px);
	}
	.dtm-turbo {
		-moz-image-region: rect(0px,128px,32px,96px);
	}
	.dtm-manager {
		-moz-image-region: rect(0px,224px,32px,192px);
	}
	.dtm-prefs {
		-moz-image-region: rect(0px,256px,32px,224px);
	}
	.dtm-about {
		-moz-image-region: rect(0px,288px,32px,256px);
	}
}
