@import 'chrome://global/skin/';
@import 'chrome://dtm/skin/common/style.css';
@import 'chrome://dtm-platform/skin/common.css';
@namespace url("http://www.mozilla.org/keymaster/gatekeeper/there.is.only.xul");

grid {
	margin-bottom: 1em;
}
row {
	padding: 1ex;
}

checkbox {
	font-weight: bold;
}

description {
	max-width: 30em;
}

.icon {
	list-style-image: url(../toolbarbuttons/buttons24.png);
	margin: 1em;
}

#dtm-icon {
	-moz-image-region: rect(0px,48px,24px,24px);
}
#dtm-turbo-icon {
	-moz-image-region: rect(0px,96px,24px,72px);
}
#dtm-turboselect-icon {
	-moz-image-region: rect(0px,144px,24px,120px);
}
#dtm-manager-icon {
	-moz-image-region: rect(0px,168px,24px,144px);
}
