@namespace url("http://www.mozilla.org/keymaster/gatekeeper/there.is.only.xul");

.dtm-toolbarbutton {
	list-style-image: url(buttons16.png) !important;
}

toolbar[iconsize="large"] .dtm-toolbarbutton {
	list-style-image: url(buttons24.png) !important;
}

.dtm-toolbarbutton[cui-areatype="menu-panel"],
#customization-container .dtm-toolbarbutton {
	list-style-image: url(buttons32.png) !important;
}

#dtm-button {
	-moz-image-region: rect(0px,32px,16px,16px);
}
#dtm-button:hover {
	-moz-image-region: rect(0px,16px,16px,0px);
}
toolbar[iconsize="large"] #dtm-button {
	-moz-image-region: rect(0px,48px,24px,24px);
}
toolbar[iconsize="large"] #dtm-button:hover {
	-moz-image-region: rect(0px,24px,24px,0px);
}
#dtm-button[cui-areatype="menu-panel"],
#customization-container #dtm-button,
#customization-container #dtm-button:hover {
	-moz-binding: url("chrome://global/content/bindings/toolbarbutton.xml#toolbarbutton");
	-moz-box-align: center;
	-moz-box-orient: vertical !important;
	-moz-image-region: rect(0px,64px,32px,32px);
}
#dtm-button[cui-areatype="menu-panel"]:hover {
	-moz-image-region: rect(0px,32px,32px,0px);
}

#dtm-turbo-button {
	-moz-image-region: rect(0px,64px,16px,48px);
}
#dtm-turbo-button:hover {
	-moz-image-region: rect(0px,48px,16px,32px);
}
toolbar[iconsize="large"] #dtm-turbo-button {
	-moz-image-region: rect(0px,96px,24px,72px);
}
toolbar[iconsize="large"] #dtm-turbo-button:hover {
	-moz-image-region: rect(0px,72px,24px,48px);
}
#dtm-turbo-button[cui-areatype="menu-panel"],
#customization-container #dtm-turbo-button,
#customization-container #dtm-turbo-button:hover {
	-moz-binding: url("chrome://global/content/bindings/toolbarbutton.xml#toolbarbutton");
	-moz-box-align: center;
	-moz-box-orient: vertical !important;
	-moz-image-region: rect(0px,128px,32px,96px);
}
#dtm-turbo-button[cui-areatype="menu-panel"]:hover {
	-moz-image-region: rect(0px,96px,32px,64px);
}

#dtm-turboselect-button {
	-moz-image-region: rect(0px,96px,16px,80px);
}
#dtm-turboselect-button:hover {
	-moz-image-region: rect(0px,80px,16px,64px);
}
toolbar[iconsize="large"] #dtm-turboselect-button {
	-moz-image-region: rect(0px,144px,24px,120px);
}
toolbar[iconsize="large"] #dtm-turboselect-button:hover {
	-moz-image-region: rect(0px,120px,24px,96px);
}
#dtm-turboselect-button[cui-areatype="menu-panel"],
#customization-container #dtm-turboselect-button,
#customization-container #dtm-turboselect-button:hover {
	-moz-image-region: rect(0px,192px,32px,160px);
}
#dtm-turboselect-button[cui-areatype="menu-panel"]:hover {
	-moz-image-region: rect(0px,160px,32px,128px);
}

#dtm-manager-button {
	-moz-image-region: rect(0px, 112px, 16px, 96px);
}
toolbar[iconsize="large"] #dtm-manager-button {
	-moz-image-region: rect(0px,168px,24px,144px);
}
#dtm-manager-button[cui-areatype="menu-panel"],
#customization-container #dtm-manager-button {
	-moz-image-region: rect(0px, 224px,32px,192px);
}

@media (min-resolution: 2dppx) {
	.dtm-toolbarbutton {
		list-style-image: url(buttons32.png)  !important;
	}
	toolbar[iconsize="large"] .dtm-toolbarbutton {
		list-style-image: url(buttons24.png)  !important;
	}
	.dtm-toolbarbutton[cui-areatype="menu-panel"],
	#customization-container .dtm-toolbarbutton {
		list-style-image: url(buttons64.png) !important;
	}

	#dtm-button {
		-moz-image-region: rect(0px,64px,32px,32px);
	}
	#dtm-button:hover {
		-moz-image-region: rect(0px,32px,32px,0px);
	}
	toolbar[iconsize="large"] #dtm-button {
		-moz-image-region: rect(0px,48px,24px,24px);
	}
	toolbar[iconsize="large"] #dtm-button:hover {
		-moz-image-region: rect(0px,24px,24px,0px);
	}
	#dtm-button[cui-areatype="menu-panel"],
	#customization-container #dtm-button,
	#customization-container #dtm-button:hover {
		-moz-image-region: rect(0px,128px,64px,64px);
	}
	#dtm-button[cui-areatype="menu-panel"]:hover {
		-moz-image-region: rect(0px,64px,64px,0px);
	}

	#dtm-turbo-button {
		-moz-image-region: rect(0px,128px,32px,96px);
	}
	#dtm-turbo-button:hover {
		-moz-image-region: rect(0px,96px,32px,64px);
	}
	toolbar[iconsize="large"] #dtm-turbo-button {
		-moz-image-region: rect(0px,96px,24px,72px);
	}
	toolbar[iconsize="large"] #dtm-turbo-button:hover {
		-moz-image-region: rect(0px,72px,24px,48px);
	}
	#dtm-turbo-button[cui-areatype="menu-panel"],
	#customization-container #dtm-turbo-button,
	#customization-container #dtm-turbo-button:hover {
		-moz-image-region: rect(0px,256px,64px,192px);
	}
	#dtm-turbo-button[cui-areatype="menu-panel"]:hover {
		-moz-image-region: rect(0px,192px,64px,128px);
	}

	#dtm-turboselect-button {
		-moz-image-region: rect(0px,192px,32px,160px);
	}
	#dtm-turboselect-button:hover {
		-moz-image-region: rect(0px,160px,32px,128px);
	}
	toolbar[iconsize="large"] #dtm-turboselect-button {
		-moz-image-region: rect(0px,144px,24px,120px);
	}
	toolbar[iconsize="large"] #dtm-turboselect-button:hover {
		-moz-image-region: rect(0px,120px,24px,96px);
	}
	#dtm-turboselect-button[cui-areatype="menu-panel"],
	#customization-container #dtm-turboselect-button,
	#customization-container #dtm-turboselect-button:hover {
		-moz-image-region: rect(0px,384px,64px,320px);
	}
	#dtm-turboselect-button[cui-areatype="menu-panel"]:hover {
		-moz-image-region: rect(0px,320px,64px,256px);
	}

	#dtm-manager-button {
		-moz-image-region: rect(0px,224px,32px,192px);
	}
	toolbar[iconsize="large"] #dtm-manager-button {
		-moz-image-region: rect(0px,168px,24px,144px);
	}
	#dtm-manager-button[cui-areatype="menu-panel"],
	#customization-container #dtm-manager-button {
		-moz-image-region: rect(0px,448px,64px,384px);
	}
}
